<?xml version="1.0"?>
<configuration>
	<connectionStrings>

    <add name="LR_warehouse" connectionString="Server=192.168.1.17\ss2008DEV;database=Isle_IOER;User Id=lrAdmin;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient"/>

    <add name="LR_warehouseRO" connectionString="Server=192.168.1.17\SS2008DEV;database=Isle_IOER;User Id=lrReader;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient"/>

    <add name="LR_LinkChecker" connectionString="Server=192.168.1.17\SS2008DEV;database=LinkChecker;User Id=lrAdmin;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient"/>
    <add name="LR_LinkCheckerRO" connectionString="Server=192.168.1.17\SS2008DEV;database=LinkChecker;User Id=lrReader;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient"/>

    <add name="worknet2013Connection" connectionString="Server=192.168.1.17\SS2008DEV;database=workNet2013;User Id=workNetAdmin;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<appSettings>
    <!-- checkType: console, or debug -->
    <add key="runType" value="debug"/>
	
    <add key="maxRowsToCheck" value="2100"/>
    <!-- checkType: oer, or disabiltyWorks -->
    <add key="linkSource" value="oer"/>
    <add key="linkSourceDW" value="disabiltyWorks"/>
    
    <add key="maxRunSeconds" value="=3600"/>
    <add key="TimeoutThreshold" value="10"/>
    <add key="DnsThreshold" value="10"/>
    <add key="InternalThreshold" value="10"/>
    <add key="CantConnectThreshold" value="10"/>
    
		<add key="elasticSearchUrl" value="http://192.168.1.17:9200/collection5/"/>
		<add key="databaseSection" value="0"/>

    <add key="path.error.log" value="C:\Inetpub\wwwroot\VOS_2010\@@logs\[date]_LinkCheck_ErrorLog.txt"/>
    <add key="path.trace.log" value="C:\inetpub\wwwroot\vos_2010\@@logs\[date]_LinkCheck_TraceLog.txt"/>
    <add key="path.email.log" value="c:\Inetpub\wwwroot\vos_2010\@@logs\[date]_LinkCheck_EmailLog.txt"/>

    <add key="path.LRLogErrors" value="c:\inetpub\wwwroot\vos_2010\@@logs\[date]_LinkCheck_LogErrors.txt"/>
    <add key="path.LRLogHosts" value="c:\inetpub\wwwroot\vos_2010\@@logs\[date]_LinkCheck_NoHosts.txt"/>
    <add key="path.HTMLTrace" value="c:\inetpub\wwwroot\vos_2010\@@logs\[date]_LinkCheck_HtmlTrace.htm"/>
    
    <add key="logErrors" value="yes"/>
    <add key="notifyOnException" value="no"/>
    <add key="systemAdminEmail" value="mparsons@siuccwd.com"/>
    <add key="systemNotifyFromEmail" value="oer_linkcheck@siuccwd.com"/>

    <add key="sendingEmailSummary" value="no"/>
    <add key="smtpEmail" value="localhost"/>
    <add key="sendEmailFlag" value="TRUE"/>
    <add key="logAllEmail" value="no"/>
    <add key="appTraceLevel" value="8"/>

    <!-- *** OER *** -->
    <add key="checkByUrl" value="yes"/>
    <add key="startingUrl" value="http://www-history.mcs.st-and.ac.uk/history/HistTopics/Trigonometric_functions.html"/>
    <add key="detailPageUrl" value="http://209.7.195.215:90/IOER/{0}/{1}"/>
    <add key="oerResourcesSql" value="SELECT ResourceIntId As [Id], [ResourceUrl], [ResourceVersionIntId],[Title], SortTitle FROM [Resource.Version_Summary] WHERE  [ResourceUrl] >= '{0}' ORDER BY [ResourceUrl] "/>
    <add key="oerResourcesSqlById" value="SELECT ResourceIntId As [Id], [ResourceUrl], [ResourceVersionIntId],[Title], SortTitle FROM [Resource.Version_Summary] WHERE  [Id] >= {0} ORDER BY [Id] "/>
    <!-- *** DW *** -->
    <add key="startingDisabilityUrl" value=""/>
    <add key="disabilityResourcesSql" value="SELECT [Id], [ResourceUrl], 0 As [ResourceVersionIntId],[Title], Title As SortTitle FROM [Resource] WHERE  [ResourceUrl] >= '{0}' ORDER BY [ResourceUrl] "/>

  </appSettings>
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
