<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="googleSafeBrowsingApiKey" value="ABQIAAAAQKUuFQwiwFtQaKY5Opyl5hSdd2g94zX96uC-0pXZvacjKrWojQ"/>
    <add key="googleSafeBrowsingCache" value="e:\Visual Studio 2012\IOER\google-safebrowse-v2-client"/>
  </appSettings>
</configuration>
