<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="learningRegistryNodePublish" value="http://sandbox.learningregistry.org"/>
    <add key="envType" value="dev" />
    <!-- MACHINE SPECIFIC SETTINGS ???? ================================================================ -->
    <!-- *** Note a local test domain is in use -->
    <add key="domain" value="WinNT://wkst01/" />
    <add key="serverName" value="wkst01" />
    <!-- ** AD is OFF ** -->
    <add key="useAD" value="FALSE" />
    <!-- ** SSLEnable is OFF ** -->
    <add key="SSLEnable" value="0" />

    <!-- CONTACT US NOTIFICATION ======================================================== -->
    <add key="smtpEmail" value="localhost" />
    <!-- sendEmailFlag - use TRUE uppercase to set on -->
    <add key="sendEmailFlag" value="TRUE" />
    <add key="usingTempOverrideEmail" value="yes" />

    <!-- May want a 'to' email specific for the contact US!! -->
    <add key="contactUsMailTo" value="mparsons@illinoisworknet.com" />
  
    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="mparsons@illinoisworknet.com" />
    <add key="systemNotifyFromEmail" value="Michaels__W7@illinoisworknet.com" />
    <add key="appAdminEmail" value="mparsons@Illinoisworknet.com" />
    <add key="advisorAdminEmail" value="mparsons@illinoisworknet.com;mp27@hotmail.com" />
    <add key="helpdeskEmail" value="mparsons@illinoisworknet.com" />

    <!-- LOG SETTINGS ========================================================================
			Notes:
				- Be sure to give write access to the everyone role for the following log file
		-->
    <!-- no results in output to file defined in: path.visitor.log -->
    <add key="path.visitor.log" value="C:\Inetpub\wwwroot\VOS_2010\@@logs\[date]_App_VisitorLog.txt" />
    <add key="path.error.log" value="C:\Inetpub\wwwroot\VOS_2010\@@logs\[date]_App_ErrorLog.txt" />
    <add key="path.email.log" value="C:\Inetpub\wwwroot\VOS_2010\@@logs\[date]_App_EmailLog.txt" />
    <add key="path.trace.log" value="C:\Inetpub\wwwroot\VOS_2010\@@logs\[date]_App_TraceLog.txt" />

  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>