<?xml version="1.0" encoding="utf-8"?>
<!-- Modifications  
 
=====================================================================================================
      12/06/21 mparsons - set Connect Timeout=200 for LR connection strings
      12/06/26 mparsons - add glossary ws related elelments
      12/07/03 mparsons - added path.ReportsOutputPath
      12/08/27 mparsons - updated glossaryPageUrl, added alwaysPreProcessPage
      13/01/23 mparsons - added signingUserId, <binding name="NewsServicesSoap" /> and endpoints
                          updated learningRegistryNodePublish
      13/01/28 mparsons - added conn string of Gateway
                          AND Gateway_RO
      13/01/28 mparsons - added NewsServices endpoint
      13/01/31 jgrimmer - added Subscriptions endpoint
      13/02/04 mparsons - added customErrors
      13/02/20 mparsons - added recover password link
      13/03/12 mparsons - added FaqServiceSoap, and bindings
      13/03/21 mparsons - added conn strings for Content
      13/03/26 mparsons - added code table service	
      13/03/28 mparsons - added paths for content: path.ContentOutputPath, path.ContentOutputUrl
                          ==> be sure to give update access to path.ContentOutputPath
      13/04/22 mparsons - added httpRuntime section to allow files gt 4mb, and related keys of: maxImageSize,maxDocumentSize  
      13/05/03 mparsons - added defaultPublisher
      13/05/15 mparsons - added elasticSearchUrl
      13/05/23 mparsons - Added GatewayServices.svc endpoint
      13/05/30 nargo    - updated elasticSearchUrl
	  13/06/03 mparsons - added reference to vos webservice - for CIS occupations control testing
      13/06/05 nargo    - updated elasticSearchUrl
                        - added system.web.extensions section to increase the maxJsonLength property
	  13/06/07 jgrimmer - added credentials for publishing to LR
    13/06/14 nargo    - updated elasticSearchUrl
		13/06/21 mparsons - added maxLibraryImageSize, path.ReportsOutputPath    
    13/06/26 mparsons - added defaultLibraryImage, libraryImageWidth - assuming image will be square, so no height
    13/07/03 mparsons - added ioerContactLogin- login id for user to receive faq questions
    13/07/05 mparsons - added cachedImagesUrl
    13/07/09 nargo 	- updated maxJsonLength property
					- added LR Publishing UserId and Password
    13/07/10 mparsons - increased max document size to 20mb (prod only)
    13/07/11 nargo    - updated elasticSearchUrl
                      - added elasticSearchCollection
    13/09/19 mparsons - added path.WorkOutputPath and path.WorkOutputUrl to provide for clear locations when resizing and displaying work images
    ============================================================================================================================================
    VS2012
    13/12/11 mparsons added <runtime section and ajaxmin    
    14/01/20 mparsons - added the EF entity conn strings as they need to be available in the web.config for use by webservice calls (via asmx)
    14/01/27 mparsons - added path.RunQuery (was missing) 
    14/01/28 mparsons - added ResourceEntities
    14/02/05 mparsons - added onPublishCC
    14/02/10 mparsons - added GatewayEntities1    
    14/02/10 nargo    - added directory for Thumbnail Generator V2; didn't want to disturb anything that was using other thumbnail-related values here
    14/02/22 mparsons - added defaultProfileImage
    14/03/03 jgrimmer - added info for scanning files and streams using ClamAV server
    ============================================================================================================================================
    
    
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ILPathways.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ILPathways.Properties.Settings>
      <setting name="Widgets_workNetGlossary_GlossaryWS" serializeAs="String">
        <value>http://www.illinoisworknet.com/workNetItems/glossaryws.asmx</value>
      </setting>
    </ILPathways.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="isSearchActive" value="yes" />
    <add key="learningRegistryNodeRead" value="https://node01.public.learningregistry.net" />
    <add key="learningRegistryNodePublish_prod" value="https://lr.illinoisworknet.com" />
    <add key="learningRegistryNodePublish_prod2" value="https://node01.public.learningregistry.net" />
    <add key="learningRegistryNodePublish" value="http://sandbox.learningregistry.org" />
    <add key="learningRegistryUserId" value="info@siuccwd.com" />
    <add key="learningRegistryPassword" value="TBD_later" />
    <add key="signingUserId" value="ILWorknet &lt;info@illinoisworknet.com&gt;" />
    <add key="defaultPublisher" value="Illinois Shared Learning Environment" />
    <add key="WebAddress" value="http://209.7.195.215:90/" />
    <add key="ServicesAddress" value="http://localhost:49270/" />
    <add key="ServicesAddress_Prod" value="http://www.ilsharedlearning.org:49270/" />
    <add key="elasticSearchUrl" value="http://192.168.1.17:9200/" />
    <add key="elasticSearchCollection" value="collection5/" />
    <add key="cachedImagesUrl" value="//ioer.ilsharedlearning.org/OERThumbs/" />
    <add key="serverImageFilePath" value="C:\IOER\ContentDocs\Thumbnails\" />
    <add key="serverImageFilePath_prod" value="\\STAGE\OER Thumbnails\" />
    <!-- Thumbnail Generator V2 -->
    <add key="thumbnailGeneratorV2Folder" value="E:\projects\IOER\Thumbnail Generator 2\" />
    <!-- GlossaryWS    -->
    <add key="usingWebServiceForGlossary" value="yes" />
    <!-- environment type: dev, test, edit, training, prod -->
    <add key="siteVersion" value="2014-01-29" />
    <add key="envType" value="dev" />
    <add key="alwaysPreProcessPage" value="yes" />
    <!-- DATABASE SOURCE type keys -->
    <!-- system styles -->
    <add key="errorMessageCss" value="errorMessage" />
    <add key="infoMessageCss" value="infoMessage" />
    <add key="successMessageCss" value="successMessage" />
    <!-- CONTENT SETTINGS ================================================================================== -->
    <add key="maxLibraryImageSize" value="5000000" />
    <add key="libraryImageWidth" value="140" />
    <add key="defaultLibraryImage" value="/images/defaultLibraryImg.png" />
    <add key="defaultProfileImage" value="/images/defaultProfileImg.jpg" />
    
    <add key="maxImageSize" value="2000000" />
    <add key="maxDocumentSize" value="20000000" />
    <!-- physical path to content related files on this machine 
    -->
    <add key="path.ContentOutputPath1" value="\\192.168.1.16\workNet\ILPathways\ContentDocs\" />
    <add key="path.ContentOutputPath2" value="\\192.168.1.16\workNet\ILPathways\ContentDocs\" />
    <add key="path.ContentOutputPath" value="C:\IOER\ContentDocs\" />
    <add key="path.MapContentPath" value="/ContentDocs/" />
    <!-- URL to view a content related file on this machine. The virtual directory maps to the latter appkey (ContentOutputPath)-->
    <add key="path.ContentOutputUrl" value="/ContentDocs/" />
    <add key="path.WorkOutputPath" value="C:\IOER\ContentDocs\work\" />
    <add key="path.WorkOutputUrl" value="/ContentDocs/work" />
    <!-- MACHINE SPECIFIC SETTINGS ???? =================================================================== -->
    <!-- *** Note a local test domain is in use -->
    <add key="domain" value="WinNT://wkst01/" />
    <add key="serverName" value="wkst01" />
    <!--- turn off the following for local testing or where SSL is not used
    <add key="SSLEnable" value="1"/>
    - SSLRedirect: if SSLEnable = 1, then  should be absolute url starting with https
    -->
    <!-- ** SSLEnable is OFF ** -->
    <add key="SSLEnable" value="0" />
    <add key="SSLRedirect" value="/sslRedirect.aspx" />
    <!-- in production use:  https://www.ilsharedlearning.org/-->
    <add key="SSLRedirect2" value="https://www.ilsharedlearning.org/sslRedirect.aspx" />
    <!-- LOGIN SETTINGS -->
    <add key="NUMBER_OF_LOGIN_ATTEMPTS_ALLOWED" value="7" />
    <add key="LOGIN_ATTEMPT_TIMESPAN_MINUTES" value="10" />
    <add key="LOCKOUT_TIMESPAN_MINUTES" value="5" />
    <!-- PATH SETTINGS -->
    <add key="app.path" value="/" />
    <add key="AppTitle" value="Illinois Open Education Resources" />
    <add key="defaultPage" value="/" />
    <!-- PAGE PATHS -->
    <add key="loginPage" value="/Account/Login.aspx" />
    <add key="profilePage" value="/Account/Profile.aspx" />
    <add key="registerPage" value="/Account/Register.aspx" />
    <add key="path.RunQuery" value="/Admin/Queries/Query.aspx" />
    <!-- Auto login for indv; other paths will use this as the login form auto redirects to proper home page/ -->
    <add key="autoLoginPath" value="/account/login.aspx?g=[RowId]" />
    <!-- User profile - nav to profile for authenticated user-->
    <add key="autoProfilePath" value="/account/profile.aspx?authenticated=yes" />
    <add key="errorPage_HTML" value="/ErrorPage.aspx" />
    <add key="errorPage" value="/ErrorPage.aspx" />
    <!-- CONTACT US NOTIFICATION ======================================================== -->
    <add key="smtpEmail" value="localhost" />
    <add key="usingReplyNoteSnippet" value="yes" />
    <!-- sendEmailFlag - use TRUE uppercase to set on -->
    <add key="sendEmailFlag" value="false" />
    <add key="usingTempOverrideEmail" value="yes" />
    <!-- May want a 'to' email specific for the contact US!! -->
    <add key="contactUsMailTo" value="mparsons@siuccwd.com" />
    <add key="contactUsMailFrom" value="DoNotReply@ilsharedlearning.org" />
    <add key="contactUsSubject" value="A new Contact Info was created" />
    <add key="onPublishCC_Prod" value="jkitchens@siuccwd.com;dyoung@siuccwd.com" />
    <add key="onPublishCC" value="" />
    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="mparsons@siuccwd.com" />
    <add key="systemNotifyFromEmail" value="Michaels__W7@illinoisworknet.com" />
    <add key="appAdminEmail" value="mparsons@siuccwd.com" />
    <add key="ioerContactLogin" value="mparsons" />
    <add key="logAllEmail" value="yes" />
    <!-- === glossary related keys TODO-chg from worknet =========================================-->
    <add key="formatingGlossaryPopup" value="yes" />
    <add key="glossaryPage" value="glossary_terms" />
    <add key="glossaryPageUrl" value="/Pages/Glossary.aspx" />
    <add key="glossaryLinkImg" value=" &lt;img src='http://www.illinoisworknet.com/vos_portal/images/glossaryIcon2.jpg' alt='Glossary - Link opens in a new window' height='18' width='14' /&gt;" />
    <!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
    <add key="logErrors" value="yes" />
    <add key="notifyOnException" value="no" />
    <add key="isDebug" value="TRUE" />
    <add key="appTraceLevel" value="8" />
    <add key="tracingApprove" value="yes" />
    <add key="usingBriefFormat" value="yes" />
    <add key="SessionShowRequestKeys" value="yes" />
    <add key="loggingPageVisits" value="yes" />
    <add key="path.logs.url" value="/logs" />
    <!-- no results in output to file defined in: path.visitor.log -->
    <add key="loggingPageVisitsToDatabase" value="no" />
    <!-- work-->
    <add key="path.ReportsOutputPath" value="C:\IOER\@logs\" />
    <add key="path.error.log" value="C:\IOER\@logs\[date]_App_ErrorLog.txt" />
    <add key="path.email.log" value="C:\IOER\@logs\[date]_App_EmailLog.txt" />
    <add key="path.trace.log" value="C:\IOER\@logs\[date]_App_TraceLog.txt" />

    <!-- ClamAV server settings -->
    <add key="ScanForViruses" value="true" />
    <add key="scannerHost" value="localhost" />
    <add key="scannerPort" value="3310" />
  </appSettings>
  <connectionStrings>
    <!-- =====    LRWarehouse_TEST on TEST    =============================================================  
-->
    <add name="LR_warehouse" connectionString="Server=192.168.1.17\ss2008DEV;database=Isle_IOER;User Id=lrAdmin;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="LR_warehouseRO" connectionString="Server=192.168.1.17\SS2008DEV;database=Isle_IOER;User Id=lrReader;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient" />
    <add name="gatewayConString" connectionString="Server=192.168.1.17\ss2008DEV;database=Gateway;User Id=lrAdmin;Password=work12Net16;" providerName="System.Data.SqlClient" />
    <add name="gatewayConString_RO" connectionString="Server=192.168.1.17\ss2008DEV;database=Gateway;User Id=lrReader;Password=work12Net16;" providerName="System.Data.SqlClient" />
    <add name="contentConString" connectionString="Server=192.168.1.17\ss2008DEV;database=IsleContent;User Id=lrAdmin;Password=work12Net16;" providerName="System.Data.SqlClient" />
    <add name="contentConString_RO" connectionString="Server=192.168.1.17\ss2008DEV;database=IsleContent;User Id=lrReader;Password=work12Net16;" providerName="System.Data.SqlClient" />
    <!-- =====  NOTE - the entity conn string needs to be available in the web.config for use by webservice calls (via asmx)  =================================  
-->
    <add name="IsleContentEntities" connectionString="metadata=res://*/IoerContent.csdl|res://*/IoerContent.ssdl|res://*/IoerContent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=IsleContent;user id=lrAdmin;password=work12Net16;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GatewayEntities" connectionString="metadata=res://*/Gateway.csdl|res://*/Gateway.ssdl|res://*/Gateway.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=Gateway;user id=lrAdmin;password=work12Net16;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GatewayEntities1" connectionString="metadata=res://*/GatewayDB.csdl|res://*/GatewayDB.ssdl|res://*/GatewayDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=Gateway;user id=lrAdmin;password=work12Net16;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="ResourceEntities" connectionString="metadata=res://*/ResourceModel.csdl|res://*/ResourceModel.ssdl|res://*/ResourceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=Isle_IOER;user id=lrAdmin;password=work12Net16;pooling=True;min pool size=10;max pool size=50;connect timeout=200;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
    <!-- =====    databases at home    =============================================================  
 
    <add name="LR_warehouse" connectionString="Server=mparsonspc8\sqlexpress2012;database=Isle_IOER;User Id=lrAdmin;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="LR_warehouseRO" connectionString="Server=mparsonspc8\sqlexpress2012;database=Isle_IOER;User Id=lrReader;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient" />

    <add name="gatewayConString" connectionString="Server=mparsonspc8\sqlexpress2012;database=Gateway;User Id=lrAdmin;Password=work12Net16;" providerName="System.Data.SqlClient" />
    <add name="gatewayConString_RO" connectionString="Server=mparsonspc8\sqlexpress2012;database=Gateway;User Id=lrReader;Password=work12Net16;" providerName="System.Data.SqlClient" />

    <add name="contentConString" connectionString="Server=mparsonspc8\sqlexpress2012;database=IsleContent;User Id=lrAdmin;Password=work12Net16;" providerName="System.Data.SqlClient" />
    <add name="contentConString_RO" connectionString="Server=mparsonspc8\sqlexpress2012;database=IsleContent;User Id=lrReader;Password=work12Net16;" providerName="System.Data.SqlClient" />
  -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--RemoteOnly, On, Off-->
    <customErrors mode="RemoteOnly" defaultRedirect="/ErrorPage.aspx">
      <error statusCode="500" redirect="/ErrorPage.aspx" />
      <error statusCode="404" redirect="/PageNotFound.aspx" />
      <error statusCode="403" redirect="/ErrorPage.aspx" />
    </customErrors>
    <pages validateRequest="false" buffer="true" enableSessionState="true" enableViewState="true" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="wcl" assembly="WebControlLibrary" namespace="WebControlLibrary" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="300" timeout="360" cookieless="UseCookies" regenerateExpiredSessionId="true" compressionEnabled="false">
      <providers>
        <clear />
      </providers>
    </sessionState>
    <authentication mode="Windows">
      <forms loginUrl="/Account/Login.aspx" timeout="300" />
    </authentication>
    <!-- use maxRequestLength to allow file sizes greater than 4mb
		-->
    <httpRuntime executionTimeout="180" maxRequestLength="131072" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <identity impersonate="false" />
    <!--<httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<handlers>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
    </handlers>-->
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GlossaryWSSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IResourceService" />
        <binding name="ItemsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="EmailNoticeWSSoap" />
        <binding name="AccountSoap">
          <security mode="Transport" />
        </binding>
        <binding name="AccountSoap1" />
        <binding name="NewsServicesSoap" />
        <binding name="SubscriptionsSoap" />
        <binding name="FaqServiceSoap" />
        <binding name="BasicHttpBinding_ILibraryService" />
        <binding name="BasicHttpBinding_IResourceService1" />
        <binding name="BasicHttpBinding_ICodeTableService" />
        <binding name="vosSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.illinoisworknet.com/workNetItems/glossaryws.asmx" binding="basicHttpBinding" bindingConfiguration="GlossaryWSSoap" contract="workNetGlossary.GlossaryWSSoap" name="GlossaryWSSoap" />
      <endpoint address="http://www.illinoisworknet.com/workNetItems/EmailNoticeWS.asmx" binding="basicHttpBinding" bindingConfiguration="EmailNoticeWSSoap" contract="EmailNoticeServiceReference.EmailNoticeWSSoap" name="EmailNoticeWSSoap" />
      <endpoint address="https://www.illinoisworknet.com/accountServices/Account.asmx" binding="basicHttpBinding" bindingConfiguration="AccountSoap" contract="AccountServiceReference.AccountSoap" name="AccountSoap" />
      <endpoint address="http://www.illinoisworknet.com/workNetItems/items.asmx" binding="basicHttpBinding" bindingConfiguration="ItemsSoap" contract="AppItemsServiceReference.ItemsSoap" name="ItemsSoap" />
      <endpoint address="http://www.illinoisworknet.com/workNetItems/NewsServices.asmx" binding="basicHttpBinding" bindingConfiguration="NewsServicesSoap" contract="NewsServiceReference.NewsServicesSoap" name="NewsServicesSoap" />
      <endpoint address="http://www.illinoisworknet.com/workNetItems/Subscriptions.asmx" binding="basicHttpBinding" bindingConfiguration="SubscriptionsSoap" contract="workNetSubscriptionReference.SubscriptionsSoap" name="SubscriptionsSoap" />
      <endpoint address="http://www.illinoisworknet.com/workNetItems/FaqService.asmx" binding="basicHttpBinding" bindingConfiguration="FaqServiceSoap" contract="FaqServiceReference.FaqServiceSoap" name="FaqServiceSoap" />
      <endpoint address="http://localhost:49270/LibraryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILibraryService" contract="LibraryServiceReference.ILibraryService" name="BasicHttpBinding_ILibraryService" />
      <endpoint address="http://209.7.195.215:90/Services/ResourceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceService" contract="ResourceServiceReferenceOLD.IResourceService" name="BasicHttpBinding_IResourceService" />
      <endpoint address="http://localhost:49270/ResourceService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceService1" contract="ResourceServiceReference.IResourceService" name="BasicHttpBinding_IResourceService1" />
      <endpoint address="http://localhost:49270/CodeTableService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICodeTableService" contract="CodeTableServiceReference.ICodeTableService" name="BasicHttpBinding_ICodeTableService" />
      <endpoint address="http://www.illinoisworknet.com/vos_portal_wbservice/vos.asmx" binding="basicHttpBinding" bindingConfiguration="vosSoap" contract="com.illinoisworknet.www.vos.vosSoap" name="vosSoap" />
    </client>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.5091.22824" newVersion="5.5.5091.22824" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>