<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="envType" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="learningRegistryNodeRead" value="https://node01.public.learningregistry.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="learningRegistryNodePublish" value="http://node01.public.learningregistry.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="learningRegistryUserId" value="info@xxxxxxxx.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="learningRegistryPassword" value ="xxxxxxx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="signingUserId" value="ILWorknet &lt;info@illinoisworknet.com&gt;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="defaultPublisher" value="Illinois Shared Learning Environment" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="continueOnPublishError" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!-- site related-->
    <add key="elasticSearchUrl" value="http://xxx.xxx.xxx.xxx:9200/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="learningListCollectionId" value="2207" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elasticSearchCollectionNew" value="collection6/" />
    <add key="gooruApiUrl" value="http://www.goorulearning.org/gooruapi/rest/v2/account/loginas/anonymous?apiKey=xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx" />
    <add key="currentlyRebuildingIndex" value="no" />
    <!-- learningListCollectionId: set to zero if not applicable -->
    <add key="learningListCollectionId" value="693" />

    <!-- use an explicit host name rather than trying to guess -->
    <add key="siteHostName" value="ioer.ilsharedlearning.org" />
    <add key="siteRoot" value="http://ioer.ilsharedlearning.org" />

    <!-- Thumbnail related =========================================================== -->
    <add key="cachedImagesUrl" value="/OERThumbs/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="serverImageFilePath" value="\\OERDATASTORE\OerThumbs\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="serverThumbnailFolder" value="\\OERDATASTORE\OerThumbs\large\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="creatingThumbnails" value="yes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- validate ????????????????????-->
    <add key="thumbnailGeneratorV2Folder" value="\\STAGE\OER Thumbnails\Thumbnail Generator 2\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="thumbnailGenerator" value="C:\Thumbnail Generator 4\ThumbnailerV4User.exe" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="thumbnailerLog" value="C:\Thumbnail Generator 4\lastrun.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- CONTENT SETTINGS ================================================== -->
    <add key="doingLibResourcesApproval" value="yes"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="allowingOpenPublishing" value="yes"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- controls the options that show in the list for a new content item-->
    <add key="allowedNewContentItems" value=" 10 " xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- physical path to output policy related files on this machine -->
    <add key="path.MapContentPath" value="/ContentDocs/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="path.ContentOutputPath" value="F:\ContentDocs\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- URL to view a policy related file on this machine. The virtual directory maps to the latter appkey (ContentOutputPath)-->
    <add key="path.ContentOutputUrl" value="/ContentDocs/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="path.WorkOutputPath" value="F:\temp\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="path.WorkOutputUrl" value="/downloads/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="learningListUrl" value="http://ioer.ilsharedlearning.org/learninglist/{0}/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    <!-- ** SSLEnable must be ON for SSO to work!!  ** -->
    <add key="SSLEnable" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SSLRedirect" value="https://ioer.ilsharedlearning.org/sslRedirect.aspx"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    <add key="sendEmailFlag" value="TRUE"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="usingTempOverrideEmail" value="no"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="contactUsMailTo" value="info@ilsharedlearning.org"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="contactUsMailFrom" value="DoNotReply@ilsharedlearning.org"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="contactUsSubject" value="A new Contact was created"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="onPublishCC" value="????????@xxxxxxxx.com"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="systemAdminEmail" value="????????@xxxxxxxx.com"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="systemNotifyFromEmail" value="????????@ilsharedlearning.org"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="appAdminEmail" value="????????@xxxxxxxx.comm"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ioerContactLogin" value="????????"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="logAllEmail" value="yes"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


    <add key="appTraceLevel" value="5"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="path.logs.url" value="/logs"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="path.error.log" value="C:\IOER\@logs\[date]_IOER_ErrorLog.txt"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="path.email.log" value="C:\IOER\@logs\[date]_IOER_EmailLog.txt"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="path.trace.log" value="C:\IOER\@logs\[date]_IOER_TraceLog.txt"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="botTraceLevel" value="4"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="path.botTrace.log" value="C:\IOER\@logs\[date]_IOER_botTraceLog.txt"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- ClamAV server settings -->
    <add key="ScanForViruses" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="scannerHost" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="scannerPort" value="3310"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- Google SafeBrowsing API v2 -->
    <add key="googleSafeBrowsingApiKey" value="?????????????????????????" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="googleSafeBrowsingCache" value="C:\IOER_Tools\ReputationBuilder\Data" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
<connectionStrings>
  <add name="LR_warehouse" connectionString="Server=OERDATASTORE;database=Isle_IOER;User Id=lrAdmin;Password=xxxxxxxx;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
    providerName="System.Data.SqlClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  <add name="LR_warehouseRO" connectionString="Server=OERDATASTORE;database=Isle_IOER;User Id=lrReader;Password=xxxxxxx;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600"
       providerName="System.Data.SqlClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  <add name="gatewayConString" connectionString="Server=OERDATASTORE;database=IsleContent;User Id=lrAdmin;Password=xxxxxxx;" providerName="System.Data.SqlClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="gatewayConString_RO" connectionString="Server=OERDATASTORE;database=IsleContent;User Id=lrReader;Password=xxxxxxx;" providerName="System.Data.SqlClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  <!-- Content -->
  <add name="contentConString" connectionString="Server=OERDATASTORE;database=IsleContent;User Id=lrAdmin;Password=xxxxxxx;" providerName="System.Data.SqlClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="contentConString_RO" connectionString="Server=OERDATASTORE;database=IsleContent;User Id=lrReader;Password=xxxxxxx;" providerName="System.Data.SqlClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  <add name="IsleContentEntities" connectionString="metadata=res://*/IoerContent.csdl|res://*/IoerContent.ssdl|res://*/IoerContent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OERDATASTORE;initial catalog=IsleContent;user id=lrAdmin;password=xxxxxxx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  <add name="GatewayEntities" connectionString="metadata=res://*/GatewayDB.csdl|res://*/GatewayDB.ssdl|res://*/GatewayDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OERDATASTORE;initial catalog=IsleContent;persist security info=True;user id=lrAdmin;password=xxxxxxx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  <add name="GatewayEntities1" connectionString="metadata=res://*/GatewayDB.csdl|res://*/GatewayDB.ssdl|res://*/GatewayDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OERDATASTORE;initial catalog=Gateway;user id=lrAdmin;password=xxxxxxx;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  <add name="ResourceEntities" connectionString="metadata=res://*/ResourceModel.csdl|res://*/ResourceModel.ssdl|res://*/ResourceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OERDATASTORE;initial catalog=Isle_IOER;user id=lrAdmin;password=xxxxxxx;pooling=True;min pool size=10;max pool size=50;connect timeout=200;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  
 
    
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>