<?xml version="1.0" encoding="utf-8"?>
<!-- Modifications  
 
=====================================================================================================
     ============================================================================================================================================
    VS2012
    13/12/11 mparsons added <runtime section and ajaxmin    
    14/01/20 mparsons - added the EF entity conn strings as they need to be available in the web.config for use by webservice calls (via asmx)
    14/01/27 mparsons - added path.RunQuery (was missing) 
    14/01/28 mparsons - added ResourceEntities
    14/02/05 mparsons - added onPublishCC
    14/02/10 mparsons - added GatewayEntities1    
    14/02/10 nargo    - added directory for Thumbnail Generator V2; didn't want to disturb anything that was using other thumbnail-related values here
    14/02/22 mparsons - added defaultProfileImage
    ================================================================
    14/03/03 jgrimmer - added info for scanning files and streams using ClamAV server
    14/03/15 mparsons - added maxTimelinePosts and timelineHistoryDays (for timeline)
    14/03/18 mparsons - added maxCommunityPosts
    14/03/21 nargo    - added siteRoot
    ================================================================
    14/04/08 mparsons - dependent section was added for EntityFrameworks, and WebGrease (due to project updates)
    14/05/15 mparsons - added allowedNewContentItems
    14/06/29 mparsons - added doingLibResourcesApproval
    14/07/03 mparsons - added securePages
    14/07/07 mparsons - added elasticSearchCollectionNew (to allow some sync'n interim)
    14/08/23 mparsons - added continueOnPublishError - to continue with save if LR publish fails
    
    14/09/05 mparsons - added keys for proxy ids expiration (proxyLoginExiryDays, etc.)
    
    14/09/16 mparsons - added curriculumCacheHours
    14/09/29 mparsons - added usingContentStandards - to handle transition between resource standards, and content standards
    14/11/25 nargo    - added serverThumbnailFolder
    15/01/02 mparsons - added cacheAllNodes
    15/04/13 nargo    - added currentlyRebuildingIndex - Set to "yes" when doing rebuild, "no" otherwise; used to indicate when a resource was updated during an index rebuild and needs to be reindexed.
============================================================================================================================================
    
    
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ILPathways.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<applicationSettings>
    <ILPathways.Properties.Settings>
      <setting name="Widgets_workNetGlossary_GlossaryWS" serializeAs="String">
        <value>http://www.illinoisworknet.com/workNetItems/glossaryws.asmx</value>
      </setting>
    </ILPathways.Properties.Settings>
  </applicationSettings>-->
  <appSettings>
    <!-- environment type: dev, test, edit, training, prod -->
    <add key="siteVersion" value="2015-10-28" />
    <add key="serverName" value="localhost:2015" />
    <add key="envType" value="dev" />
    <add key="isSearchActive" value="yes" />

    <!-- LR related -->
    <add key="learningRegistryNodeRead" value="https://node02.public.learningregistry.net" />

    <add key="learningRegistryNodePublish" value="http://sandbox.learningregistry.org" />
    <add key="learningRegistryUserId" value="info@siuccwd.com" />
    <add key="learningRegistryPassword" value="XXXXXXXXX" />
    <add key="signingUserId" value="ILWorknet &lt;info@illinoisworknet.com&gt;" />
    <add key="defaultPublisher" value="Illinois Shared Learning Environment" />
    <add key="defaultSubmitter" value="ISLE OER on Behalf of " />
    <add key="continueOnPublishError" value="yes" />
    <add key="useSchedulerWithNodeAutoPublish" value="no" />

    <!-- elastic search related-->
    <add key="elasticSearchUrl" value="http://localhost:9200/" />
    <add key="elasticSearchUrl2" value="http://192.168.1.153:9200/" />
    <!-- elastic search collection. This is an alias. The ES interface is to be used to associate the appropriate collection with this alias-->
    <add key="elasticSearchCollection" value="mainSearchCollection/" />
    <add key="currentlyRebuildingIndex" value="no" />
    <add key="doElasticIndexUpdateWithAutoPublish" value="yes" />

    <!-- site related-->
    <add key="gooruApiUrl" value="http://www.goorulearning.org/gooruapi/rest/v2/account/loginas/anonymous?apiKey=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />


    <!-- learningListCollectionId: set to zero if not applicable. Prod=693 -->
    <add key="learningListCollectionId" value="0" />

    <!-- use an explicit host name rather than trying to guess 
    NOTE: used by FormatAbsoluteUrl!-->
    <add key="siteHostName" value="localhost:2015" />
    <!-- use when generating urls. Allows where a dev may be using localhost, but want others to be able find from a test server  -->
    <add key="siteRoot" value="http://testenv.siuccwd.com:90" />
    <!-- ???USED???  -->
    <add key="securePages" value="login.aspx profile.aspx register.aspx" />

    <!-- check if still needed =========================================================== -->

    <!-- ================================================================================== -->

    <!-- Thumbnail related =========================================================== -->
    <add key="cachedImagesUrl" value="//localhost:2015/OERThumbs/" />
    <add key="serverImageFilePath" value="C:\IOER_server\Thumbnails\" />
    <add key="serverThumbnailFolder" value="C:\IOER_server\Thumbnails\large\" />
    <add key="creatingThumbnails" value="yes" />
    <!-- work folder for thumbnailer-->

    <add key="thumbnailGeneratorV2Folder" value="c:\IOER_server\Thumbnailer\" />
    <add key="thumbnailGenerator" value="C:\IOER_server\Thumbnailer\ThumbnailerV4User.exe" />
    <add key="thumbnailerLog" value="C:\IOER_server\Thumbnails\lastrun.txt" />

    <!-- ================================================================================== -->

    <!-- system styles USED by system console -->
    <add key="errorMessageCss" value="errorMessage" />
    <add key="infoMessageCss" value="infoMessage" />
    <add key="successMessageCss" value="successMessage" />
    <!-- ACCOUNT SETTINGS ========================================================================= -->
    <!-- siteAdminObjectName - refers to an application object associated with a privilege group indicating a site admin -->
    <add key="siteAdminObjectName" value="Site.Admin" />
    <add key="proxyLoginExiryDays" value="7" />
    <add key="forgotPasswordExiryDays" value="2" />
    <add key="registrationConfExpiryDays" value="7" />
    <add key="user3rdPartyAddExpiryDays" value="30" />
    <add key="NUMBER_OF_LOGIN_ATTEMPTS_ALLOWED" value="5" />
    <add key="LOGIN_ATTEMPT_TIMESPAN_MINUTES" value="10" />
    <add key="LOCKOUT_TIMESPAN_MINUTES" value="5" />

    <!-- CONTENT SETTINGS ========================================================================= -->
    <add key="doingLibResourcesApproval" value="yes" />
    <!-- set to no if do not want to arbitrarily allow all logged users to tag/publish content-->
    <add key="allowingOpenPublishing" value="yes" />
    <add key="maxLibraryImageSize" value="5000000" />
    <add key="libraryImageWidth" value="140" />
    <add key="defaultLibraryImage" value="/images/defaultLibraryImg.png" />
    <add key="defaultProfileImage" value="/images/defaultProfileImg.jpg" />
    <add key="maxImageSize" value="2000000" />
    <add key="maxDocumentSize" value="30000000" />
    <add key="maxCommunityPosts" value="200" />
    <add key="maxTimelinePosts" value="200" />
    <add key="maxKeywords" value="50" />
    <add key="timelineHistoryDays" value="60" />
    <add key="activityDefaultTimespan" value="30" />
    <add key="curriculumCacheHours" value="1" />
    <!--NOTE: setting this to true currently results in items with isle level privileges from not being returned from the entity frameworks get a node. Leave off until resolved -->
    <add key="cacheAllNodes" value="false" />
    <!-- used temporarily while transitioning to saving content.standards -->
    <add key="usingContentStandards" value="true" />
    <add key="allowingHtmlPosts" value="true" />

    <!-- controls the options that show in the list for a new content item  40 50 52. Typically can allow more in the dev env, for example when sdding new types-->
    <add key="allowedNewContentItems" value=" 10, 50" />

    <!-- physical path to content related files on this machine or server    -->
    <add key="path.MapContentPath" value="/ContentDocs/" />
    <add key="path.ContentOutputPath" value="C:\IOER_server\ContentDocs\" />

    <!-- URL to view a content related file on this machine. The virtual directory maps to the latter appkey (ContentOutputPath)-->
    <add key="path.ContentOutputUrl" value="/ContentDocs/" />
    <add key="path.WorkOutputPath" value="C:\IOER\ContentDocs\work\" />
    <add key="path.WorkOutputUrl" value="/ContentDocs/work/" />
    <!-- path template used for public view of a learning list-->
    <add key="learningListUrl" value="http://testenv.siuccwd.com:90/learninglist/{0}/{1}" />
    <!-- path template used for public view of a content item -->
    <add key="contentUrl" value="http://testenv.siuccwd.com:90/Content/{0}/{1}" />


    <!-- === SharePoint/wn related =========================================-->


    <!-- MACHINE SPECIFIC SETTINGS ???? =================================================================== -->
    <!--- turn off the following for local testing or where SSL is not used
    <add key="SSLEnable" value="1"/>
    - SSLRedirect: if SSLEnable = 1, then  should be absolute url starting with https
    -->
    <!-- ** SSLEnable is OFF ** -->
    <add key="SSLEnable" value="0" />

    <!-- PATH SETTINGS ================================================================ -->

    <add key="defaultPage" value="/" />

    <!-- PAGE PATHS -->
    <!-- ???USED???  -->
    <!--<add key="loginPage" value="/Account/Login.aspx" />
    <add key="profilePage" value="/Account/Profile.aspx" />-->
    <add key="registerPage" value="/Account/Register.aspx" />
    <add key="path.RunQuery" value="/Admin/Queries/Query.aspx" />
    <!-- Auto login for indv; other paths will use this as the login form auto redirects to proper home page/ -->
    <add key="autoLoginPath" value="/account/login.aspx?g=[RowId]" />
    <!-- User profile - nav to profile for authenticated user-->
    <add key="autoProfilePath" value="/account/profile.aspx?authenticated=yes" />

    <add key="path.OrgAdmin" value="/Organizations/Organizations.aspx?id=" />
    <!-- SSO with google configuration -->
    <add key="ssoLoginUrl" value="https://localhost:44301/Account/Login"/>

    <!-- CONTACT US NOTIFICATION ====================================================== -->
    <add key="smtpEmail" value="localhost" />
    <add key="usingReplyNoteSnippet" value="yes" />
    <!-- sendEmailFlag - use TRUE uppercase to set on -->
    <add key="sendEmailFlag" value="false" />
    <!-- set to yes to override any now local email addresses - to prevent sending email where 'real' addresses may exist in test env-->
    <add key="usingTempOverrideEmail" value="yes" />
    <!-- May want a 'to' email specific for the contact US!! -->
    <add key="contactUsMailTo" value="mparsons@siuccwd.com" />
    <add key="contactUsMailFrom" value="DoNotReply@ilsharedlearning.org" />
    <add key="contactUsSubject" value="A new Contact Info was created" />
    <!-- optionally provide email addresses to be notified when new content is published-->
    <add key="onPublishCC" value="" />

    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="??????@test.com" />
    <add key="systemNotifyFromEmail" value="test????.com" />
    <add key="appAdminEmail" value="??????@test.com" />
    <add key="ioerContactLogin" value="mparsons" />
    <add key="logAllEmail" value="yes" />
  
    <!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
    <add key="logErrors" value="yes" />
    <add key="notifyOnException" value="no" />
    <!--<add key="isDebug" value="TRUE" />-->
    <add key="appTraceLevel" value="8" />
    <add key="tracingApprove" value="yes" />
    <!-- work-->
    <!-- ???USED???  -->
    <add key="path.ReportsOutputPath" value="C:\IOER\@logs\" />

    <add key="path.error.log" value="C:\IOER\@logs\[date]_IOERgit_ErrorLog.txt" />
    <add key="path.email.log" value="C:\IOER\@logs\[date]_IOERgit_EmailLog.txt" />
    <add key="path.trace.log" value="C:\IOER\@logs\[date]_IOERgit_TraceLog.txt" />
    <add key="botTraceLevel" value="5" />
    <add key="path.botTrace.log" value="C:\IOER\@logs\[date]_IOERgit_botTraceLog.txt" />

    <!-- ClamAV server settings -->
    <add key="ScanForViruses" value="false" />
    <add key="scannerHost" value="localhost" />
    <add key="scannerPort" value="3310" />

    <!-- Google Safe Browsing API v2 settings -->
    <add key="googleSafeBrowsingApiKey" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXX-0pXZvacjKrWojQ" />
    <!--<add key="googleSafeBrowsingCache" value="e:\Visual Studio 2012\IOER\google-safebrowse-v2-client" />-->
    <add key="googleSafeBrowsingCache" value="C:\IOER_server\Tools\ReputationBuilder\Data" />

    <!-- SharePoint related, N/A for others -->
    <add key="ClientId" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
    <add key="ClientSecret" value="XXXXXXXXXXXXXXXXXXXXX/M+X/PkLl+XXXXXXXXXXXXXXXXXXXXXXXXX=" />

  </appSettings>
  <connectionStrings>
    <!-- =====    LRWarehouse_TEST. dev password will need to change (unless using from the backup)  =============================================================  
-->
    <add name="LR_warehouse" connectionString="Server=192.168.1.145;database=Isle_IOER_Sandbox;User Id=ioerAdmin;Password=ioerSandbox;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="LR_warehouseRO" connectionString="Server=192.168.1.145;database=Isle_IOER_Sandbox;User Id=ioerReader;Password=ioerSandbox;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient" />
    <add name="gatewayConString" connectionString="Server=192.168.1.145;database=IsleContent_sandbox;User Id=ioerAdmin;Password=ioerSandbox;" providerName="System.Data.SqlClient" />
    <add name="gatewayConString_RO" connectionString="Server=192.168.1.145;database=IsleContent_sandbox;User Id=ioerReader;Password=ioerSandbox;" providerName="System.Data.SqlClient" />
    <add name="contentConString" connectionString="Server=192.168.1.145;database=IsleContent_sandbox;User Id=ioerAdmin;Password=ioerSandbox;" providerName="System.Data.SqlClient" />
    <add name="contentConString_RO" connectionString="Server=192.168.1.145;database=IsleContent_sandbox;User Id=ioerReader;Password=ioerSandbox;" providerName="System.Data.SqlClient" />
    <!-- =====  NOTE - the entity conn string needs to be available in the web.config for use by webservice calls (via asmx)  =================================  
-->
    <add name="IsleContentEntities" 
         connectionString="metadata=res://*/IoerContent.csdl|res://*/IoerContent.ssdl|res://*/IoerContent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=IsleContent_sandbox;user id=ioerAdmin;password=ioerSandbox;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="ResourceEntities" 
         connectionString="metadata=res://*/ResourceModel.csdl|res://*/ResourceModel.ssdl|res://*/ResourceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145;initial catalog=Isle_IOER_Sandbox;user id=ioerAdmin;password=ioerSandbox;pooling=True;min pool size=10;max pool size=50;connect timeout=200;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--RemoteOnly, On, Off-->
    <customErrors mode="RemoteOnly" defaultRedirect="/ErrorPage.aspx">
      <error statusCode="500" redirect="/ErrorPage.aspx" />
      <error statusCode="404" redirect="/PageNotFound.aspx" />
      <error statusCode="403" redirect="/ErrorPage.aspx" />
    </customErrors>
    <pages validateRequest="false" buffer="true" enableSessionState="true" enableViewState="true" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="wcl" assembly="WebControlLibrary" namespace="WebControlLibrary" />
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="300" timeout="360" cookieless="UseCookies" regenerateExpiredSessionId="true" compressionEnabled="false">
      <providers>
        <clear />
      </providers>
    </sessionState>
    <authentication mode="Windows">
      <forms loginUrl="/Account/Login.aspx" timeout="300" />
    </authentication>
    <!-- use maxRequestLength to allow file sizes greater than 4mb
		-->
    <httpRuntime executionTimeout="120" maxRequestLength="409600" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client />
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.13.5463.15277" newVersion="5.13.5463.15277" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>