<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AccountSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AccountSoap1" />
                <binding name="AccountSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="AccountSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.illinoisworknet.com/accountServices/Account.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountSoap"
                contract="workNetAccountServices.AccountSoap" name="AccountSoap" />
            <endpoint address="https://www.illinoisworknet.com/accountServices/Account.asmx"
                binding="basicHttpBinding" bindingConfiguration="AccountSoap2"
                contract="workNetAccountServices.AccountSoap" name="AccountSoap1" />
        </client>
    </system.serviceModel>
</configuration>