<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LR_warehouse" connectionString="Server=192.168.1.17\SS2008DEV;database=Isle_IOER;User Id=lrAdmin;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient"/>
    <add name="LR_warehouseRO" connectionString="Server=192.168.1.17\SS2008DEV;database=Isle_IOER;User Id=lrReader;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient"/>
    <add name="LR_warehouse_PROD" connectionString="Server=172.22.115.31;database=Isle_IOER;User Id=lrAdmin;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600"
	   providerName="System.Data.SqlClient" />
    <add name="LR_warehouseRO_PROD" connectionString="Server=172.22.115.31;database=Isle_IOER;User Id=lrReader;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600"
	   providerName="System.Data.SqlClient" />
	<add name="LinkCheckerConString" connectionString="Server=192.168.1.17\SS2008DEV;database=LinkChecker;User Id=lrAdmin;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient"/>
    <add name="LR_warehouse_LOCAL" connectionString="Server=localhost;database=Isle_IOER;User Id=lrAdmin;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient"/>
    <add name="LR_warehouseRO_LOCAL" connectionString="Server=localhost;database=Isle_IOER;User Id=lrReader;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient"/>
    <add name="dbConString_Local" connectionString="Server=(local);database=Isle_IOER;User Id=lrAdmin;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=100;Connect Timeout=5;" providerName="System.Data.SqlClient"/>
    <add name="dbConString" connectionString="Server=192.168.1.17\SS2008DEV;database=LearningRegistryCache_Dev_20120928;User Id=VOS_DBUSER;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=100;Connect Timeout=5;" providerName="System.Data.SqlClient"/>
    <add name="dbConString_mp" connectionString="Server=michael-pc7\ss2008;database=LearningRegistryCache2;User Id=VOS_DBUSER;Password=dev$I@er4" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="learningRegistryConsume" value="http://node01.public.learningregistry.net"/>
    <add key="learningRegistryConsume_sandbox" value="http://sandbox.learningregistry.org"/>
    <add key="logErrors" value="yes"/>
    <add key="notifyOnException" value="no"/>
    <add key="path.error.log" value="C:\Inetpub\wwwroot\VOS_2010\@@logs\[date]_LRImport_ErrorLog.txt"/>
    <add key="path.trace.log" value="C:\inetpub\wwwroot\vos_2010\@@logs\[date]_LRImport_TraceLog.txt"/>
    <add key="esIdLog" value="C:\inetpub\wwwroot\vos_2010\@@logs\[date]_EsIdLog.txt" />
    <add key="xml.log" value="[date]_LRImport_Log.xml"/>
    <add key="xml.path" value="C:\inetpub\wwwroot\vos_2010\@@logs\[date]\"/>
	<add key="xml.batchPath" value="C:\inetpub\wwwroot\vos_2010\@@logs\queue\"/>
    <add key="maxRecordsInFile" value="200"/>
    <!-- Set the following value to zero for no limit -->
    <add key="maxKeywordsToProcess" value="50"/>
    <!-- Set the following value to zero for no limit -->
    <add key="maxSubjectsToProcess" value="50"/>
    <!-- Set the following value to zero for no limit -->
    <add key="maxDetailedStandardsToProcess" value="25" />
    <add key="ourSigner" value="Illinois OER"/>
    <add key="commParaRatingType" value="None"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	<add key="IsTestEnv" value="true"/>
<!-- Section for disallowing batch processing during certain hours -->
    <!-- Set the following to the start and end times to disallow batch processing.  Use 24-hr notation -->
	<add key="disallowBatchStart" value="07:00:00"/>
	<add key="disallowBatchEnd" value="23:00:00"/>
	<!-- Set the following to the days that the batch process is disallowed during specified timeframe.  Use comma-separated values 0-6
	     with 0 denoting Sunday and 6 denoting Saturday. -->
	<add key="disallowedDays" value="1,2,3,4,5"/>
	<!-- Honor disallowed timeframes - for testing purposes -->
	<add key="honorDisallowedTimes" value="true"/>
<!-- End section for disallowing batch processing during certain hours -->
	  <add key="adminEmail" value="mparsons@siuccwd.com; jgrimmer@siuccwd.com; hwilliams@siuccwd.com; nargo@siuccwd.com;"/>
	  <add key="smtpEmail" value="localhost" />
	  <add key="sendEmailFlag" value="TRUE" />
    <add key="createMetadataFromParadata" value="false"/>

	<add key="elasticSearchUrl" value="http://192.168.1.17:9200/"/>
    <add key="elasticSearchUrlNew" value="http://192.168.1.17:9200/collection6/"/>
    <add key="elasticSearchUrl_PROD35" value="http://172.22.115.35:9200/"/>
    <add key="elasticSearchCollection" value="collection5/" />
	<add key="thumbnailGeneratorUrl" value="http://192.168.1.16:90/Services/WebDALService.asmx"/>
	<add key="cachedImagesUrl" value="http://209.175.164.200/OERThumbs/"/>

    <!-- Google Safe Browsing API v2 settings -->
    <add key="googleSafeBrowsingApiKey" value="ABQIAAAAQKUuFQwiwFtQaKY5Opyl5hSdd2g94zX96uC-0pXZvacjKrWojQ"/>
    <!-- <add key="googleSafeBrowsingCache" value="e:\Visual Studio 2012\IOER\google-safebrowse-v2-client"/> -->
    <add key="googleSafeBrowsingCache" value="Z:\IOER_Tools\ReputationBuilder\Data"/>

  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebDALServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ioer.ilsharedlearning.org/Services/WebDALService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebDALServiceSoap"
        contract="ILSharedLearning.Services.WebDALServiceSoap" name="WebDALServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
