<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <clear />
    <add key="siteRoot" value="http://testenv.siuccwd.com:90" />
    <add key="elasticSearchURL" value="http://192.168.1.17:9200/" />
    <add key="elasticSearchCollection" value="collection6" />
    <add key="elasticSearchCollectionForSite1" value="collection5" />
    <add key="elasticSearchCollectionForSite2" value="collection6" />
    <add key="elasticSearchCollectionForSite3" value="collection6" />
    <add key="elasticSearchCollectionForSite4" value="collection6" />
    <add key="elasticSearchCollectionForSite5" value="collection5" />


    <add key="systemAdminEmail" value="mparsons@siuccwd.com" />
    <!-- LOG SETTINGS ========================================================================
			Notes:
				- Be sure to give write access to the everyone role for the following log file
		-->
    <add key="logErrors" value="yes" />
    <add key="notifyOnException" value="yes" />
    <add key="isDebug" value="TRUE" />

    <add key="appTraceLevel" value="5" />
    <add key="tracingApprove" value="yes" />
    <add key="usingBriefFormat" value="yes" />
    <add key="path.error.log" value="C:\IOER\@logs\[date]_Rest_ErrorLog.txt" />
    <add key="path.email.log" value="C:\IOER\@logs\[date]_Rest_EmailLog.txt" />
    <add key="path.trace.log" value="C:\IOER\@logs\[date]_Rest_TraceLog.txt" />
    
  </appSettings>
  <connectionStrings>
    <clear />
    <!-- =====    LRWarehouse_TEST on TEST    =============================================================  
-->
    <add name="LR_warehouse" connectionString="Server=192.168.1.17\ss2008DEV;database=Isle_IOER;User Id=lrAdmin;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="LR_warehouseRO" connectionString="Server=192.168.1.17\SS2008DEV;database=Isle_IOER;User Id=lrReader;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient" />
    <add name="gatewayConString" connectionString="Server=192.168.1.17\ss2008DEV;database=Gateway;User Id=lrAdmin;Password=dev$I@er4;" providerName="System.Data.SqlClient" />
    <add name="gatewayConString_RO" connectionString="Server=192.168.1.17\ss2008DEV;database=Gateway;User Id=lrReader;Password=dev$I@er4;" providerName="System.Data.SqlClient" />
    <add name="contentConString" connectionString="Server=192.168.1.17\ss2008DEV;database=IsleContent;User Id=lrAdmin;Password=dev$I@er4;" providerName="System.Data.SqlClient" />
    <add name="contentConString_RO" connectionString="Server=192.168.1.17\ss2008DEV;database=IsleContent;User Id=lrReader;Password=dev$I@er4;" providerName="System.Data.SqlClient" />
    <!-- =====  NOTE - the entity conn string needs to be available in the web.config for use by webservice calls (via asmx)  =================================  
-->
    <add name="IsleContentEntities" connectionString="metadata=res://*/IoerContent.csdl|res://*/IoerContent.ssdl|res://*/IoerContent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=IsleContent;user id=lrAdmin;password=dev$I@er4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GatewayEntities" connectionString="metadata=res://*/Gateway.csdl|res://*/Gateway.ssdl|res://*/Gateway.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=Gateway;user id=lrAdmin;password=dev$I@er4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GatewayEntities1" connectionString="metadata=res://*/GatewayDB.csdl|res://*/GatewayDB.ssdl|res://*/GatewayDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=Gateway;user id=lrAdmin;password=dev$I@er4;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ResourceEntities" connectionString="metadata=res://*/ResourceModel.csdl|res://*/ResourceModel.ssdl|res://*/ResourceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=Isle_IOER;user id=lrAdmin;password=dev$I@er4;pooling=True;min pool size=10;max pool size=50;connect timeout=200;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>