<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>E:\Projects\IOER2\PrecompiledWeb\IllinoisPathways.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>ILsharedlearnng.org</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="gatewayConString_RO" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.17\ss2008DEV;Initial Catalog=Gateway;User ID=lrReader;Password=dev$I@er4" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\gatewayConString_RO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=192.168.1.17\ss2008DEV;database=Gateway;User Id=lrReader;Password=dev$I@er4;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="contentConString_RO" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.17\ss2008DEV;Initial Catalog=IsleContent;User ID=lrReader;Password=dev$I@er4" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\contentConString_RO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=192.168.1.17\ss2008DEV;database=IsleContent;User Id=lrReader;Password=dev$I@er4;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IsleContentEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.17\ss2008DEV;Initial Catalog=IsleContent;User ID=lrAdmin;Password=dev$I@er4;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IsleContentEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IoerContent.csdl|res://*/IoerContent.ssdl|res://*/IoerContent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=IsleContent;user id=lrAdmin;password=dev$I@er4;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="gatewayConString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.17\ss2008DEV;Initial Catalog=Gateway;User ID=lrAdmin;Password=dev$I@er4" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\gatewayConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=192.168.1.17\ss2008DEV;database=Gateway;User Id=lrAdmin;Password=dev$I@er4;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="contentConString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.17\ss2008DEV;Initial Catalog=IsleContent;User ID=lrAdmin;Password=dev$I@er4" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\contentConString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=192.168.1.17\ss2008DEV;database=IsleContent;User Id=lrAdmin;Password=dev$I@er4;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GatewayEntities1" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.17\ss2008DEV;Initial Catalog=Gateway;User ID=lrAdmin;Password=dev$I@er4;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GatewayEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/GatewayDB.csdl|res://*/GatewayDB.ssdl|res://*/GatewayDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=Gateway;user id=lrAdmin;password=dev$I@er4;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ResourceEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.17\ss2008DEV;Initial Catalog=Isle_IOER;User ID=lrAdmin;Password=dev$I@er4;Pooling=True;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ResourceEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ResourceModel.csdl|res://*/ResourceModel.ssdl|res://*/ResourceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=Isle_IOER;user id=lrAdmin;password=dev$I@er4;pooling=True;min pool size=10;max pool size=50;connect timeout=200;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="GatewayEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.17\ss2008DEV;Initial Catalog=Gateway;User ID=lrAdmin;Password=dev$I@er4;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GatewayEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Gateway.csdl|res://*/Gateway.ssdl|res://*/Gateway.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=Gateway;user id=lrAdmin;password=dev$I@er4;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LR_warehouseRO" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.17\SS2008DEV;Initial Catalog=Isle_IOER;User ID=lrReader;Password=dev$I@er4;Pooling=True;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LR_warehouseRO_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=192.168.1.17\SS2008DEV;database=Isle_IOER;User Id=lrReader;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LR_warehouse" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.17\ss2008DEV;Initial Catalog=Isle_IOER;User ID=lrAdmin;Password=dev$I@er4;Pooling=True;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LR_warehouse_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=192.168.1.17\ss2008DEV;database=Isle_IOER;User Id=lrAdmin;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)contentConString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)contentConString_RO-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)gatewayConString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)gatewayConString_RO-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GatewayEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GatewayEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IsleContentEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LR_warehouse-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LR_warehouseRO-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ResourceEntities-Web.config Connection String" />
  </ItemGroup>
</Project>