<?xml version="1.0"?>
<configuration>
<!-- Modifications  
 
=====================================================================================================
      13/06/12 mparsons - added content connection strings
                      
  -->
	<appSettings>
		<add key="username" value="testuser" />
		<add key="password" value="testpassword" />
		<add key="WSSecurityEnabled" value="false" />
		<add key="SearchResultThreshold" value="100" />
    <add key="envType" value="dev"/>

    <add key="systemAdminEmail" value="mparsons@siuccwd.com"/>
		<!-- LOG SETTINGS ========================================================================
			Notes:
				- Be sure to give write access to the everyone role for the following log file
		-->
		<add key="logErrors" value="yes" />
		<add key="notifyOnException" value="no" />
		<add key="isDebug" value="TRUE" />

		<add key="appTraceLevel" value="8" />
		<add key="tracingApprove" value="yes" />
		<add key="usingBriefFormat" value="yes" />
		<add key="SessionShowRequestKeys" value="yes" />

		<add key="loggingPageVisits" value="yes" />
		<add key="path.logs.url" value="/logs" />
		<!-- no results in output to file defined in: path.visitor.log -->
		<add key="loggingPageVisitsToDatabase" value="no" />
		<add key="path.error.log" value="C:\Inetpub\wwwroot\VOS_2010\@@logs\[date]_IsleWs_ErrorLog.txt" />
		<add key="path.email.log" value="C:\Inetpub\wwwroot\VOS_2010\@@logs\[date]_IsleWs_EmailLog.txt" />
		<add key="path.trace.log" value="C:\Inetpub\wwwroot\VOS_2010\@@logs\[date]_IsleWs_TraceLog.txt" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<connectionStrings>
    <!-- clear connection strings in parent app -->
    <clear />

    <add name="LR_warehouse" connectionString="Server=192.168.1.17\ss2008DEV;database=Isle_IOER;User Id=lrAdmin;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient"/>
    <add name="LR_warehouseRO" connectionString="Server=192.168.1.17\SS2008DEV;database=Isle_IOER;User Id=lrReader;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient"/>

    <add name="gatewayConString" connectionString="Server=192.168.1.17\ss2008DEV;database=Gateway;User Id=lrAdmin;Password=work12Net16;" providerName="System.Data.SqlClient"/>
    <add name="gatewayConString_RO" connectionString="Server=192.168.1.17\ss2008DEV;database=Gateway;User Id=lrReader;Password=work12Net16;" providerName="System.Data.SqlClient"/>
    <!-- Content -->
    <add name="contentConString" connectionString="Server=192.168.1.17\ss2008DEV;database=IsleContent;User Id=lrAdmin;Password=work12Net16;" providerName="System.Data.SqlClient"/>
    <add name="contentConString_RO" connectionString="Server=192.168.1.17\ss2008DEV;database=IsleContent;User Id=lrReader;Password=work12Net16;" providerName="System.Data.SqlClient"/>
		<!-- =====		partnerConString	====	-->
		<add name="partnerConString"		
         connectionString="Server=192.168.1.17;database=partnerCache;User Id=workNetReader;Password=work12Net16;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
	</system.serviceModel>
 <system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\Inetpub\wwwroot\VOS_2010\@@logs\IsleWs_Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
