<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-IOER.MvcAuth-20150923120031.mdf;Initial Catalog=aspnet-IOER.MvcAuth-20150923120031;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LR_warehouse_LOCAL" connectionString="Server=192.168.1.17\ss2008DEV;database=Isle_IOER;User Id=lrAdmin;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="LR_warehouseRO_LOCAL" connectionString="Server=192.168.1.17\SS2008DEV;database=Isle_IOER;User Id=lrReader;Password=dev$I@er4;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient" />
    <add name="ResourceEntities_LOCAL" connectionString="metadata=res://*/ResourceModel.csdl|res://*/ResourceModel.ssdl|res://*/ResourceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=Isle_IOER;user id=lrAdmin;password=dev$I@er4;pooling=True;min pool size=10;max pool size=50;connect timeout=200;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LR_warehouse" connectionString="Server=172.22.115.31;database=Isle_IOER;User Id=lrAdmin;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200"
         providerName="System.Data.SqlClient" />
    <add name="LR_warehouseRO" connectionString="Server=172.22.115.31;database=Isle_IOER;User Id=lrReader;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600"
         providerName="System.Data.SqlClient" />
    <add name="ResourceEntities" connectionString="metadata=res://*/ResourceModel.csdl|res://*/ResourceModel.ssdl|res://*/ResourceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.22.115.31;initial catalog=Isle_IOER;user id=lrAdmin;password=work12Net16;pooling=True;min pool size=10;max pool size=50;connect timeout=200;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Google and/or Facebook SSO Client ID/Secret Info -->
    <add key="googleClientId" value="765890541458-1mkjorgtlma5ekopqiibdi18nhd0qhb8.apps.googleusercontent.com" />
    <add key="googleClientSecret" value="8gw2DC02PIJzMseSAVFjDY9o" />
    <add key="ioerLoginTemplate" value="http://localhost:2012/Account/Login.aspx?pg=@userGuid" />
    <!--<add key="googleClientId" value="93656126855-omn47lhchmanrkidiiv389b0tvf87ggg.apps.googleusercontent.com" />
    <add key="googleClientSecret" value="dHVXsyM2wEXMMmhEAenAhUtz" />
    <add key="ioerLoginTemplate" value="https://ioer.ilsharedlearning.org/Account/Login.aspx?pg=@userGuid"/>-->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>