<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="elasticSearchUrl" value="http://192.168.1.17:9200/" />
    <add key="elasticSearchCollection" value="collection5/" />
    <add key="cachedImagesUrl" value="http://209.175.164.200/OERThumbs/" />
    <add key="serverImageFilePath" value="C:\IOER\ContentDocs\Thumbnails\" />
    <add key="serverImageFilePath_prod" value="\\STAGE\OER Thumbnails\" />
    <!-- physical path to content related files on this machine 
    -->
    <add key="path.ContentOutputPath" value="\\192.168.1.16\workNet\ILPathways\ContentDocs\" />
    <add key="path.ContentOutputPath2" value="\\192.168.1.16\workNet\ILPathways\ContentDocs\" />
    <add key="path.ContentOutputPathLocal" value="C:\IOER\ContentDocs\" />
    <add key="path.MapContentPath" value="/ContentDocs/" />

    <!-- URL to view a content related file on this machine. The virtual directory maps to the latter appkey (ContentOutputPath)-->
    <add key="path.ContentOutputUrl" value="/ContentDocs/" />
    <add key="path.WorkOutputPath" value="C:\IOER\ContentDocs\work\" />
    <add key="path.WorkOutputUrl" value="/ContentDocs/work" />
    <!-- CONTACT US NOTIFICATION ======================================================== -->
    <add key="smtpEmail" value="localhost" />
    <add key="usingReplyNoteSnippet" value="yes" />
    <!-- sendEmailFlag - use TRUE uppercase to set on -->
    <add key="sendEmailFlag" value="TRUE" />
    <add key="usingTempOverrideEmail" value="yes" />
    <!-- May want a 'to' email specific for the contact US!! -->
    <add key="contactUsMailTo" value="mparsons@siuccwd.com" />
    <add key="contactUsMailFrom" value="DoNotReply@ilsharedlearning.org" />
    <add key="contactUsSubject" value="A new Contact Info was created" />
    <!-- Email for system and/or application related messages -->
    <add key="systemAdminEmail" value="mparsons@siuccwd.com" />
    <add key="systemNotifyFromEmail" value="Michaels__W7@illinoisworknet.com" />
    <add key="appAdminEmail" value="mparsons@siuccwd.com" />
    <add key="ioerContactLogin" value="mparsons" />
    <add key="logAllEmail" value="yes" />

    <!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
    <add key="logErrors" value="yes" />
    <add key="notifyOnException" value="no" />
    <add key="isDebug" value="TRUE" />
    <add key="appTraceLevel" value="8" />
    <add key="tracingApprove" value="yes" />
    <add key="usingBriefFormat" value="yes" />
    <add key="SessionShowRequestKeys" value="yes" />
    <add key="loggingPageVisits" value="yes" />
    <add key="path.logs.url" value="/logs" />
    <!-- no results in output to file defined in: path.visitor.log -->
    <add key="loggingPageVisitsToDatabase" value="no" />
    <!-- work-->
    <add key="path.ReportsOutputPath" value="C:\IOER\@logs\" />
    <add key="path.error.log" value="C:\IOER\@logs\[date]_UnitTest_ErrorLog.txt" />
    <add key="path.email.log" value="C:\IOER\@logs\[date]_UnitTest_EmailLog.txt" />
    <add key="path.trace.log" value="C:\IOER\@logs\[date]_UnitTest_TraceLog.txt" />

  </appSettings>
  <connectionStrings>
    <!-- =====    LRWarehouse_TEST on TEST    =============================================================  
-->
    <add name="LR_warehouse" connectionString="Server=192.168.1.17\ss2008DEV;database=Isle_IOER;User Id=lrAdmin;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=200" providerName="System.Data.SqlClient" />
    <add name="LR_warehouseRO" connectionString="Server=192.168.1.17\SS2008DEV;database=Isle_IOER;User Id=lrReader;Password=work12Net16;Pooling=true;Min Pool Size=10;Max Pool Size=50;Connect Timeout=600" providerName="System.Data.SqlClient" />

    <add name="gatewayConString" connectionString="Server=192.168.1.17\ss2008DEV;database=Gateway;User Id=lrAdmin;Password=work12Net16;" providerName="System.Data.SqlClient" />
    <add name="gatewayConString_RO" connectionString="Server=192.168.1.17\ss2008DEV;database=Gateway;User Id=lrReader;Password=work12Net16;" providerName="System.Data.SqlClient" />

    <add name="contentConString" connectionString="Server=192.168.1.17\ss2008DEV;database=IsleContent;User Id=lrAdmin;Password=work12Net16;" providerName="System.Data.SqlClient" />
    <add name="contentConString_RO" connectionString="Server=192.168.1.17\ss2008DEV;database=IsleContent;User Id=lrReader;Password=work12Net16;" providerName="System.Data.SqlClient" />

    <add name="IsleContentEntities" connectionString="metadata=res://*/IoerContent.csdl|res://*/IoerContent.ssdl|res://*/IoerContent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.17\ss2008DEV;initial catalog=IsleContent;user id=lrAdmin;password=work12Net16;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>